{{ define "project/index.html" }}
<!DOCTYPE html>
<html lang="ja">

{{template "header.html"}}

<body>
  {{template "nav.html"}}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">プロジェクト一覧</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <th>名称</th>
              <th>説明</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{range .}}
            <tr>
              <td>{{.Name}}</td>
              <td>{{.Description}}</td>
              <td><a class="btn btn-secondary btn-sm" href="/project/show/{{.ID}}">詳細</a></td>
              <td><a class="btn btn-secondary btn-sm" href="/project/delete/{{.ID}}">削除</a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
        <div>
          <a class="btn btn-primary" href="/project/new">追加</a>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

  {{template "common_js.html"}}
</body>

</html>
{{end}}