{{ define "project/show.html" }}
<!DOCTYPE html>
<html lang="ja">

{{template "header.html"}}

<body>
  {{template "nav.html"}}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/project/index">プロジェクト一覧</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{.Name}}</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div>
          <a class="btn btn-outline-primary btn-lg" href="/tag/index?pid={{.ID}}">タグ管理</a>
          <a class="btn btn-outline-primary btn-lg" href="/member/index?pid={{.ID}}">メンバー管理</a>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>
{{end}}