{{ define "project/show.html" }}
<!DOCTYPE html>
<html lang="ja">

{{template "header.html"}}

<body>
  {{template "nav.html"}}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/project/index">プロジェクト一覧</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{.Name}}</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <h1>{{.Name}}</h1>
        <h3>{{.Description}}</h3>
        <div>
          <a class="btn btn-primary btn-lg" href="/shuffle/index?pid={{.ID}}">シャッフル</a>
          <a class="btn btn-primary btn-lg" href="/member/index?pid={{.ID}}">メンバー管理</a>
          <a class="btn btn-primary btn-lg" href="/tag/index?pid={{.ID}}">タグ管理</a>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

  {{template "common_js.html"}}
</body>

</html>
{{end}}