{{ define "member/edit.html" }}
<!DOCTYPE html>
<html lang="ja">

{{template "header.html"}}

<body>
    {{template "nav.html"}}
    <div class="container">
        <h1>
            メンバー編集
        </h1>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form method="post" action="/member/update">
                    <div class="form-group">
                        <label for="name">名称</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter name"
                            value="{{.Member.Name}}">
                    </div>
                    <div class="form-group">
                        <label for="email">メールアドレス</label>
                        <input type="email" name="email" class="form-control" placeholder="email"
                            value="{{.Member.Email}}">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tag1">タグ1</label>
                            <select name="tag1" class="form-control" value="{{.Tags}}">
                                <option></option>
                                {{range .Tags}}
                                <option value="{{.ID}}">{{.Name}}</option value="{{.ID}}">
                                {{end}}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="weight1">ウェイト</label>
                            <input type="number" name="weight1" max="10" min="0" class="form-control"
                                placeholder="1~10">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tag2">タグ2</label>
                            <select name="tag2" class="form-control">
                                <option></option>
                                {{range .Tags}}
                                <option value="{{.ID}}">{{.Name}}</option value="{{.ID}}">
                                {{end}}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="weight2">ウェイト</label>
                            <input type="number" name="weight2" max="10" min="0" class="form-control"
                                placeholder="1~10">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tag3">タグ3</label>
                            <select name="tag3" class="form-control">
                                <option></option>
                                {{range .Tags}}
                                <option value="{{.ID}}">{{.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="weight3">ウェイト</label>
                            <input type="number" name="weight3" max="10" min="0" class="form-control"
                                placeholder="1~10">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="pid" class="form-control" style="display: none;" value="{{.PID}}">
                    </div>
                    <button type="submit" class="btn btn-primary">登録</button>
                </form>
                <a class="btn btn-secondary" href="/member/index?pid={{.PID}}">一覧に戻る</a>
            </div>
            <div class="col-2"></div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>
{{end}}