{{ define "member/edit.html" }}
<!DOCTYPE html>
<html lang="ja">

{{template "header.html"}}

<body>
    {{template "nav.html"}}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/project/index">プロジェクト一覧</a></li>
                <li class="breadcrumb-item"><a href="/project/show/{{.Project.ID}}">{{.Project.Name}}</a></li>
                <li class="breadcrumb-item"><a href="/member/index?pid={{.Project.ID}}">メンバー一覧</a></li>
                <li class="breadcrumb-item active" aria-current="page">メンバー編集</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form method="post" action="/member/update">
                    <div class="form-group">
                        <label for="name">名称</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter name" value="{{.Member.Name}}">
                    </div>
                    <div class="form-group">
                        <label for="email">メールアドレス</label>
                        <input type="email" name="email" class="form-control" placeholder="email" value="{{.Member.Email}}">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tag1">タグ1</label>
                            <select name="tag1" class="form-control">
                                <option></option>
                                {{$mt1 := 0}}{{if ne (len .Member.Tags) 0}}{{$mt1 = (index .Member.Tags 0).ID }}{{end}}
                                {{range .Tags}}
                                {{if eq .ID $mt1}}
                                <option value="{{.ID}}" selected>{{.Name}}</option>
                                {{else}}
                                <option value="{{.ID}}">{{.Name}}</option>
                                {{end}}
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tag2">タグ2</label>
                            <select name="tag2" class="form-control">
                                <option></option>
                                {{$mt2 := 0}}{{if ge (len .Member.Tags) 2}}{{$mt2 = (index .Member.Tags 1).ID }}{{end}}
                                {{range .Tags}}
                                {{if eq .ID $mt2}}
                                <option value="{{.ID}}" selected>{{.Name}}</option>
                                {{else}}
                                <option value="{{.ID}}">{{.Name}}</option>
                                {{end}}
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tag3">タグ3</label>
                            <select name="tag3" class="form-control">
                                <option></option>
                                {{$mt3 := 0}}{{if ge (len .Member.Tags) 3}}{{$mt3 = (index .Member.Tags 3).ID }}{{end}}
                                {{range .Tags}}
                                {{if eq .ID $mt3}}
                                <option value="{{.ID}}" selected>{{.Name}}</option>
                                {{else}}
                                <option value="{{.ID}}">{{.Name}}</option>
                                {{end}}
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="pid" class="form-control" style="display: none;" value="{{.PID}}">
                    </div>
                    <button type="submit" class="btn btn-primary">更新</button>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    {{template "common_js.html"}}
</body>

</html>
{{end}}