{{ define "member/index.html" }}
<!DOCTYPE html>
<html lang="ja">

{{template "header.html"}}

<body>
    {{template "nav.html"}}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/project/index">プロジェクト一覧</a></li>
                <li class="breadcrumb-item"><a href="/project/show/{{.Project.ID}}">{{.Project.Name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">メンバー一覧</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>Email</th>
                            <th>タグ1</th>
                            <th>タグ2</th>
                            <th>タグ3</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Members}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Email}}</td>
                            <td>{{if gt (len .Tags) 0}}{{(index .Tags 0).Name}}{{end}}</td>
                            <td>{{if gt (len .Tags) 1}}{{(index .Tags 1).Name}}{{end}}</td>
                            <td>{{if gt (len .Tags) 2}}{{(index .Tags 2).Name}}{{end}}</td>
                            <td><a class="btn btn-secondary btn-sm" href="/member/edit/{{.ID}}?pid={{.ProjectID}}">編集</a></td>
                            <td><a class="btn btn-secondary btn-sm" href="/member/delete/{{.ID}}?pid={{.ProjectID}}">削除</a></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
                <div>
                    <a class="btn btn-primary" href="/member/new?pid={{.PID}}">追加</a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    {{template "common_js.html"}}
</body>

</html>
{{end}}