# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

###########################
# VSCode
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
###########################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

/temp_output
/vendor

*.pdf

log