{{ define "log_management/edit.html" }}
<!DOCTYPE html>
<html lang="ja">

{{template "header.html"}}

<body>
    {{template "nav.html"}}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/project/index">プロジェクト一覧</a></li>
                <li class="breadcrumb-item"><a href="/project/show/{{.Project.ID}}">{{.Project.Name}}</a></li>
                <li class="breadcrumb-item"><a href="/log_management/index?pid={{.Project.ID}}">シャッフルログ管理</a></li>
                <li class="breadcrumb-item active" aria-current="page">シャッフルログ編集</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <form method="post" action="/log_management/update/{{.LogDetail.ID}}">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">ShuffleLogHeadID</label>
                        <input type="text" readonly class="form-control-plaintext col-sm-2" value="{{.LogDetail.ShuffleLogHeadID}}">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">ShuffleLogDetailID</label>
                        <input type="text" readonly class="form-control-plaintext col-sm-2" value="{{.LogDetail.ID}}">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="name">Group</label>
                        <input type="text" name="name" class="form-control col-sm-2" placeholder="Enter group" value="{{.LogDetail.Group}}">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="name">MemberID</label>
                        <input type="text" name="name" class="form-control col-sm-2" placeholder="Enter memberID" value="{{.LogDetail.MemberID}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="pid" class="form-control" style="display: none;" value="{{.PID}}">
                    </div>
                    <button type="submit" class="btn btn-primary">更新</button>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    {{template "common_js.html"}}
</body>

</html>
{{end}}